<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Stock</title>
</head>
<body>

<h2>Stock</h2>
<table border="1">
    <tr>
        <th>Produit</th>
        <th>Quantité</th>
    </tr>
    <tr th:each="entry : ${stock.stock}">
        <td th:text="${entry.key}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
</table>
<br>
<form action="/stock/refresh" method="get">
    <button type="submit">refresh</button>
</form>

<hr>
<h2>remplir le stock</h2>
<form action="/stock/refill" method="get">
    <button type="submit">remplir</button>
</form>

</body>
</html>